<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="phar_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="phar" type="xstring" value="Pharmacophore"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
<config key="nodecontainer_message">
<entry key="type" type="xstring" value="ERROR"/>
<entry key="message" type="xstring" value="Execute failed: Runtime class of object &quot;1.0&quot; (index 3) in row &quot;Row0&quot; is Number (double) and does not comply with its supposed superclass String"/>
</config>
<entry key="factory" type="xstring" value="nl.esciencecenter.e3dchem.knime.pharmacophore.points.ToPointsFactory"/>
<entry key="node-name" type="xstring" value="Extract pharmacophore points"/>
<entry key="node-bundle-name" type="xstring" value="KNIME nodes to read/write pharmacophore files and align them"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="nl.esciencecenter.e3dchem.knime.pharmacophore.plugin"/>
<entry key="node-bundle-vendor" type="xstring" value="Netherlands eScience Center"/>
<entry key="node-bundle-version" type="xstring" value="1.0.0.v201707210735"/>
<entry key="node-feature-name" type="xstring" value="Pharmacophore KNIME nodes"/>
<entry key="node-feature-symbolic-name" type="xstring" value="nl.esciencecenter.e3dchem.knime.pharmacophore.feature.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="Netherlands eScience Center"/>
<entry key="node-feature-version" type="xstring" value="1.0.0.v201707210735"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Extract pharmacophore points"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
