<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="nl/esciencecenter/e3dchem/knime/pharmacophore/PharValue.png"
            level-id="pharmacophore"
            name="Pharmacophore"
            path="/community/3d-e-chem"/>
   </extension>

    <extension point="org.knime.workbench.repository.nodes">
        <node category-path="/community/3d-e-chem/pharmacophore" factory-class="nl.esciencecenter.e3dchem.knime.pharmacophore.align.AlignFactory"/>
        <node category-path="/community/3d-e-chem/pharmacophore" factory-class="nl.esciencecenter.e3dchem.knime.pharmacophore.reader.ReaderFactory"/>
        <node category-path="/community/3d-e-chem/pharmacophore" factory-class="nl.esciencecenter.e3dchem.knime.pharmacophore.writer.WriterFactory"/>
        <node category-path="/community/3d-e-chem/pharmacophore" factory-class="nl.esciencecenter.e3dchem.knime.pharmacophore.molecule.ToMoleculeFactory"/>
        <node category-path="/community/3d-e-chem/pharmacophore" factory-class="nl.esciencecenter.e3dchem.knime.pharmacophore.molecule.FromMoleculeFactory"/>
        <node category-path="/community/3d-e-chem/pharmacophore" factory-class="nl.esciencecenter.e3dchem.knime.pharmacophore.points.FromPointsFactory"/>
        <node category-path="/community/3d-e-chem/pharmacophore" factory-class="nl.esciencecenter.e3dchem.knime.pharmacophore.points.ToPointsFactory"/>
    </extension>
    <extension
          point="org.knime.core.DataType">
       <DataType
             cellClass="nl.esciencecenter.e3dchem.knime.pharmacophore.PharCell"
             factoryClass="nl.esciencecenter.e3dchem.knime.pharmacophore.PharCellFactory"
             >
          <serializer
                cellClass="nl.esciencecenter.e3dchem.knime.pharmacophore.PharCell"
                serializerClass="nl.esciencecenter.e3dchem.knime.pharmacophore.PharCell$Serializer">
          </serializer>
       </DataType>
    </extension>
    <extension
          point="org.knime.core.DataValueRenderer">
       <dataValue
             valueClass="nl.esciencecenter.e3dchem.knime.pharmacophore.PharValue">
          <renderer
                rendererFactoryClass="nl.esciencecenter.e3dchem.knime.pharmacophore.PharValueRenderer$Factory"
                suggestAsDefault="true">
          </renderer>
       </dataValue>
    </extension>

</plugin>
