<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="KNIME target for knime-pharmacophore" sequenceNumber="5">
    <locations>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="nl.esciencecenter.e3dchem.plugin" version="1.0.0"/>
            <unit id="nl.esciencecenter.e3dchem.knime.testing.plugin" version="1.0.2.v201703101029"/>
            <repository location="https://3d-e-chem.github.io/updates"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.knime.features.base.feature.group" version="3.5.2.v201802051426"/>
            <unit id="org.knime.features.datageneration.feature.group" version="3.5.0.v201711021635"/>
            <unit id="org.knime.features.testingapplication.feature.group" version="3.5.2.v201802051355"/>
            <unit id="org.knime.features.chem.types.feature.group" version="3.5.0.v201711021632"/>
            <repository location="http://update.knime.org/analytics-platform/3.5"/>
        </location>
    </locations>
</target>
